.container {
  padding-top: 74px;
  width: 50%;
  margin: 0 auto;
}

.sidebar {
  width: 200px;
  float: left;
  position: fixed;
}

.body {
  width: 100%;
}

.content {
  margin-left: 200px;
  width: 100%;
}
