.following-cad {
  box-shadow: none;
  margin-top: -15px;
}

.buttons {
  color: white;
  background-color: #3f51b5;
  width: 100%;
  margin-bottom: 10px;
}

.buttons:hover {
  color: #3f51b5;
  background-color: white;
}
