<div>
    <mat-card class="following-cad">
      <mat-card-content>
        <button mat-button routerLink="followings" color="primary" aria-label="Load more posts" class="buttons following-button">
          <mat-icon>people</mat-icon> Following</button>

        <button mat-button routerLink="users" color="primary" aria-label="Load more posts" class="buttons users-button">
          <mat-icon>group_add</mat-icon> Users</button>

        <button mat-button routerLink="profile/{{userid}}" color="primary" aria-label="Load more posts" class="buttons profile-button">
          <mat-icon>settings</mat-icon> Manage Profile</button>
      </mat-card-content>
    </mat-card>
</div>
