<mat-toolbar class="main-toolbar" color="primary">
  <div class="content">
    <span><a href="/home">liLCPanda</a></span>
          <input type="text" matInput class="search-area" [(ngModel)]="search">
    <button mat-icon-button color="primary" aria-label="Load more posts" class="search-button" (click)="searchR()">
      <mat-icon>search</mat-icon></button>

    <button mat-icon-button routerLink="notifications" *ngIf="newNotifications" color="warn" aria-label="Load more posts" class="notifications-button">
      <mat-icon>notifications_active</mat-icon></button>

    <button mat-icon-button routerLink="notifications" *ngIf="!newNotifications" color="secondary"
            aria-label="Load more posts" class="notifications-button">
      <mat-icon>notifications</mat-icon></button>

    <button *ngIf="auth.isLoggedIn()" mat-icon-button routerLink="logout" color="secondary" aria-label="Load more posts" class="logout-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout</button>
  </div>
</mat-toolbar>
