.users-container {
  width: 700px;
  height: auto;
  border: 1px solid rgba(135, 135, 135, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-card {
  overflow: hidden;
  border: 1px solid rgba(135, 135, 135, 0.5);
  padding: 10px;
  margin: 10px;
}

.user-content {
  line-height: 36px;
}

.follow-button {
  float: right;
}
